language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"      # current default Python on Travis CI
  - "3.7"
  - "3.8"
  - "3.9"

# command to install dependencies
install:
  - "pip install -r dev_requirements.txt"

# command to run tests
script:
  - python3 -m pytest

os:
  - linux
